div.box {
  position: absolute;
  width:30px;
  height:30px;
}

div.box1 {
  top:93%;
  left:95%;
  background-color:#00ff00;
}

div.box2 {
  top:85%;
  left:80%;
  background-color:#0000ff;
}

div.box3 {
  top:90%;
  left:65%;
  background-color:#00ff00;

}

div.box4 {
  top:87%;
  left:48%;
  background-color:#ffff00;

}

div.box5 {
  top:93%;
  left:30%;
  background-color:#ff0000;

}

div.box6 {
  top:85%;
  left:15%;
  background-color:#0000ff;

}

div.box7 {
  top:91%;
  left:2%;
  background-color:#00ff00
}

div.box8 {
  top:73%;
  left:90%;
  background-color:#ff0000;

}

div.box9 {
  top:72%;
  left:72%;
  background-color:#ffff00;

}

div.box10 {
  top:67%;
  left:58%;
  background-color:#ff0000;

}

div.box11 {
  top:78%;
  left:37%;
  background-color:#00ff00;

}

div.box12 {
  top:70%;
  left:25%;
  background-color:#ff0000;

}

div.box13 {
  top:73%;
  left:6%;
  background-color:#ffff00;
}

div.box14 {
  top:58%;
  left:95%;
  background-color:#0000ff;

}

div.box15 {
  top:53%;
  left:80%;
  background-color:#00ff00;

}

div.box16 {
  top:55%;
  left:68%;
  background-color:#0000ff;

}

div.box17 {
  top:61%;
  left:45%;
  background-color:#ffff00;

}

div.box18 {
  top:50%;
  left:32%;
  background-color:#0000ff;

}

div.box19 {
  top:60%;
  left:15%;
  background-color:#00ff00;

}

div.box20 {
  top:42%;
  left:89%;
  background-color:#ffff00;

}

div.box21 {
  top:5%;
  left:76%;
  background-color:#ff0000;

}

div.box22 {
  top:45%;
  left:55%;
  background-color:#00ff00;

}

div.box23 {
  top:36%;
  left:42%;
  background-color:#ff0000;

}

div.box24 {
  top:40%;
  left:22%;
  background-color:#ffff00;

}

div.box25 {
  top:50%;
  left:2%;
  background-color:#0000ff
}

div.box26 {
  top:26%;
  left:95%;
  background-color:#ff0000;
}

div.box27 {
  top:25%;
  left:7%;
  background-color:#ffff00
}

div.box28 {
  top:3%;
  left:96%;
  background-color:#0000ff;

}

div.box29 {
  top:72%;
  left:72%;
  background-color:#ffff00;

}

div.box30 {
  top:67%;
  left:58%;
  background-color:#ff0000;

}

div.box31 {
  top:30%;
  left:80%;
  background-color:#0000ff;

}

div.box32 {
  top:35%;
  left:68%;
  background-color:#ff0000;

}

div.box33 {
  top:27%;
  left:55%;
  background-color:#ffff00;

}

div.box34 {
  top:28%;
  left:32%;
  background-color:#00ff00;

}

div.box35 {
  top:44%;
  left:10%;
  background-color:#ff0000;

}

div.box36 {
  top:13%;
  left:87%;
  background-color:#00ff00;

}

div.box37 {
  top:16%;
  left:67%;
  background-color:#00ff00;

}

div.box38 {
  top:17%;
  left:45%;
  background-color:#0000ff;

}

div.box39 {
  top:16%;
  left:22%;
  background-color:#0000ff;

}

div.box41 {
  top:3%;
  left:57%;
  background-color:#ff0000;

}

div.box42 {
  top:6%;
  left:35%;
  background-color:#ffff00;

}

div.box43 {
  top:3%;
  left:15%;
  background-color:#00ff00;

}

div.box44 {
  top:7%;
  left:2%;

  background-color:#0000ff;

}
