  body {
    width: 1400px;
    height:780px
    margin-top: 10px;
    margin-left:43px;
  }

  .box-1 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-1:hover {
    background-color: #ffff00;
  }

  .box-2 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-2:hover {
    background-color: #aa0000;
  }

  .box-3 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-3:hover {
    background-color: #0000ff;
  }

  .box-4 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-4:hover {
    background-color: #ffff00;
  }

  .box-5 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-5:hover {
    background-color: #00aaff;
  }

  .box-6 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-6:hover {
    background-color: #ff5500;
  }

  .box-7 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-7:hover {
    background-color: #ff0055;
  }

  .box-8 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-8:hover {
    background-color: #00ffff;
  }

  .box-9 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-9:hover {
    background-color: #aa00ff;
  }

  .box-10 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-10:hover {
    background-color: #00ffaa;
  }

  .box-11 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-11:hover {
    background-color: #00aaff;
  }

  .box-12 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-12:hover {
    background-color: #ff5500;
  }

  .box-13 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-13:hover {
    background-color: #aa0000;
  }

  .box-14 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-14:hover {
    background-color: #00ffff;
  }

  .box-15 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-15:hover {
    background-color: #550000;
  }

  .box-16 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-16:hover {
    background-color: #ff0000;
  }

  .box-17 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-17:hover {
    background-color: #ffff00;
  }

  .box-18 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-18:hover {
    background-color: #550000;
  }

  .box-19 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-19:hover {
    background-color: #ffff00;
  }

  .box-20 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-20:hover {
    background-color: #aa00ff;
  }

  .box-21 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-21:hover {
    background-color: #0000ff;
  }

  .box-22 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-22:hover {
    background-color: #aa0000;
  }

  .box-23 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-23:hover {
    background-color: #ffaa00;
  }

  .box-24 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-24:hover {
    background-color: #ff00ff;
  }

  .box-25 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-25:hover {
    background-color: #ff00aa;
  }

  .box-26 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-26:hover {
    background-color: #aa00ff;
  }

  .box-27 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-27:hover {
    background-color: #ff0000;
  }

  .box-28 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-28:hover {
    background-color: #aaff00;
  }

  .box-29 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-29:hover {
    background-color: #5500ff;
  }

  .box-30 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-30:hover {
    background-color: #ff00aa;
  }

  .box-31 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-31:hover {
    background-color: #00ffff;
  }

  .box-32 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-32:hover {
    background-color: #ffaa00;
  }

  .box-33 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-33:hover {
    background-color: #00ff55;
  }


  .box-34 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-34:hover {
    background-color: #ff00aa;
  }

  .box-35 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-35:hover {
    background-color: #00aaff;
  }

  .box-36 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-36:hover {
    background-color: #00ff55;
  }

  .box-37 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-37:hover {
    background-color: #ff0000;
  }

  .box-38 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-38:hover {
    background-color: #00ff55;
  }

  .box-39 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-39:hover {
    background-color: #aa00ff;
  }

  .box-40 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-40:hover {
    background-color: #ffff00;
  }

  .box-41 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-41:hover {
    background-color: #ff00aa;
  }

  .box-42 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-42:hover {
    background-color: #ff0000;
  }

  .box-43 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-43:hover {
    background-color: #00ff00;
  }

  .box-44 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-44:hover {
    background-color: #0000ff;
  }

  .box-45 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-45:hover {
    background-color: #00ffaa;
  }

  .box-46 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-46:hover {
    background-color: #ff00aa;
  }

  .box-47 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-47:hover {
    background-color: #55ff00;
  }

  .box-48 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-48:hover {
    background-color: #0000ff;
  }

  .box-49 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-49:hover {
    background-color: #aa00ff;
  }

  .box-50 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-50:hover {
    background-color: #00ff00;
  }

  .box-51 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-51:hover {
    background-color: #00ff55;
  }

  .box-52 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-52:hover {
    background-color: #ff0055;
  }

  .box-53 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-53:hover {
    background-color: #ffff00;
  }

  .box-54 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-54:hover {
    background-color: #550000;
  }

  .box-55 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-55:hover {
    background-color: #aa00ff;
  }

  .box-56 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-56:hover {
    background-color: #ff5500;
  }

  .box-57 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-57:hover {
    background-color: #00ff00;
  }

  .box-58 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-58:hover {
    background-color: #0000ff;
  }

  .box-59 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-59:hover {
    background-color: #55ff00;
  }

  .box-60 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-60:hover {
    background-color: #ff0000;
  }

  .box-61 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-61:hover {
    background-color: #ff0055;
  }

  .box-62 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-62:hover {
    background-color: #ffff00;
  }

  .box-63 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-63:hover {
    background-color: #aaff00;
  }

  .box-64 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-64:hover {
    background-color: #aa0000;
  }

  .box-65 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-65:hover {
    background-color: #00ff55;
  }

  .box-66 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-66:hover {
    background-color: #ff00aa;
  }

  .box-67 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-67:hover {
    background-color: #ff0055;
  }

  .box-68 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-68:hover {
    background-color: #0055ff;
  }

  .box-69 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-69:hover {
    background-color: #aaff00;
  }

  .box-70 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-70:hover {
    background-color: #ffaa00;
  }

  .box-71 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-71:hover {
    background-color: #aa00ff;
  }

  .box-72 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-72:hover {
    background-color: #00ffaa;
  }

  .box-73 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-73:hover {
    background-color: #ff0055;
  }

  .box-74 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-74:hover {
    background-color: #00ff00;
  }

  .box-75 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-75:hover {
    background-color: #00aaff;
  }

  .box-76 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-76:hover {
    background-color: #ff00aa;
  }

  .box-77 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-77:hover {
    background-color: #ffff00;
  }

  .box-78 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-78:hover {
    background-color: #0000ff;
  }

  .box-79 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-79:hover {
    background-color: #aaff00;
  }

  .box-80 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-80:hover {
    background-color: #0055ff;
  }

  .box-81 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-81:hover {
    background-color: #00ff00;
  }

  .box-82 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-82:hover {
    background-color: #ff00ff;
  }

  .box-83 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-83:hover {
    background-color: #00ffaa;
  }

  .box-84 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-84:hover {
    background-color: #0055ff;
  }

  .box-85 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-85:hover {
    background-color: #ff5500;
  }

  .box-86 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-86:hover {
    background-color: #aa00ff;
  }

  .box-87 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-87:hover {
    background-color: #5500ff;
  }

  .box-88 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-88:hover {
    background-color: #00ffaa;
  }

  .box-89 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-89:hover {
    background-color: #aa0000;
  }

  .box-90 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-90:hover {
    background-color: #00ff55;
  }

  .box-91 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-91:hover {
    background-color: #0000ff;
  }

  .box-92 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-92:hover {
    background-color: #ffaa00;
  }

  .box-93 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-93:hover {
    background-color: #aa0000;
  }

  .box-94 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-94:hover {
    background-color: #00ffff;
  }

  .box-95 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-95:hover {
    background-color: #ff5500;
  }

  .box-96 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-96:hover {
    background-color: #0055ff;
  }

  .box-97 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-97:hover {
    background-color: #ff00ff;
  }

  .box-98 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-98:hover {
    background-color: #ff5500;
  }

  .box-99 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-99:hover {
    background-color: #550000;
  }

  .box-100 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-100:hover {
    background-color: #00ff00;
  }

  .box-101 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-101:hover {
    background-color: #ff0055;
  }

  .box-102 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-102:hover {
    background-color: #ffff00;
  }

  .box-103 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-103:hover {
    background-color: #0000ff;
  }

  .box-104 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-104:hover {
    background-color: #55ff00;
  }

  .box-105 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-105:hover {
    background-color: #aaff00;
  }

  .box-106 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-106:hover {
    background-color: #0055ff;
  }

  .box-107 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-107:hover {
    background-color: #5500ff;
  }

  .box-108 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-108:hover {
    background-color: #ffff00;
  }

  .box-109 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-109:hover {
    background-color: #ffaa00;
  }

  .box-110 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-110:hover {
    background-color: #aa00ff;
  }

  .box-111 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-111:hover {
    background-color: #0055ff;
  }

  .box-112 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-112:hover {
    background-color: #ff00ff;
  }

  .box-113 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-113:hover {
    background-color: #ff0000;
  }

  .box-114 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-114:hover {
    background-color: #aaff00;
  }

  .box-115 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-115:hover {
    background-color: #ff00ff;
  }

  .box-116 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-116:hover {
    background-color: #00ff00;
  }

  .box-117 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-117:hover {
    background-color: #0000ff;
  }

  .box-118 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-118:hover {
    background-color: #ff5500;
  }

  .box-119 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-119:hover {
    background-color: #ffaa00;
  }

  .box-120 {
    width: 70px;
    height: 70px;
    background-color: black;
    margin:10px;
    float:left;
  }
  .box-120:hover {
    background-color: #aa00ff;
  }



