body {
  background: #FFD100
}

div{
  font-family: AkzidenzGroteskStd-Md;
  font-size: 30px;
  color: #000000;
  letter-spacing: 15px;
  line-height: 57px;
  padding-top: 1.5%;
  padding-left: 1.5%;
}

a {
  text-decoration: none;
  color: black;
  transition: all 0.75s ease;
}

.name:hover {
  color: #FFD100;
}

.class:hover {
  background-color: #fccec5;
  cursor: pointer;
}

.remixes:hover {
  background-color: #fccec5;
  cursor: pointer;
}

.loveletter{

}

.words span:nth-child(2) {
    animation-delay: 0.2s;
    font-size:25px;
}

text-decoration: none;
    letter-spacing: 13px;
    /* border-bottom: 2px solid #F68391; */
    color: #000;
    background-color: #F68391;
    transition: all 0.1s ease;

.fillrect {
  border: 1px solid black;
  padding: 0 10px;
  transition: all 1s ease;
}

.fillrect:hover {
  background-color: black;
  cursor: pointer;
}
