
body {
  font-family: Arial,sans-serif;

  background-color: #000000;
  color: #ffffff;
}

header {
  margin-top:-35px;
  margin-left:620px;
}

a {
  text-decoration: none;
  font-size:500px;
  font-family: Arial,sans-serif;
  color: white;
  opacity:1;
}

a:hover {
  opacity:0.5;
}

p {
  font-family: Arial,sans-serif;
  color: white;
  font-size: 30px;
  margin-top:20px;
  margin-left:200px;
  margin-right:200px;
}

section.photo1 {
  background-color: #000000;
}

section.photo2 {
  background-color: #7fdbff;
}

section.photo {
  min-height:  100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


