h1{
  margin-top:323px;
  margin-left:555px;
  font-size:100px;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-weight: 50
}

.link {
  margin-top:275px;
  margin-left:580px;
}

a {
  text-decoration: none;
  font-size:75px;
  font-family: Arial,sans-serif;
  color: black;
  opacity:0.5;
}

a:hover {
  opacity:1;
}
