
body {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 50px;
  line-height:  1.25;

  background-color: #ffffff;
  color: #000000;
}

header, section {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

header {
  margin-top:600px;
  margin-left:0px;

}

a {
  margin-top:70px;
  margin-left:580px;
  text-decoration: none;
  font-size:100px;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  color: black;
  opacity:0.5;
}

a:hover {
  opacity:1;
}

p {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  color: white;
  font-size: 30px;
  margin-top:20px;
  margin-left:200px;
  margin-right:200px;
}

section.photo1 {
  background-color: #000000;
}

section.photo2 {
  background-color: #7fdbff;
}

section.photo {
  min-height:  100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


