body {
  background-color: #ff4141;

  perspective: 1500px;
  height: 100vh;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;

  transform-style: preserve-3d;
  backface-visibility: hidden;
}

div.face {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
}
