body {
  background-color: #FFC700;
  text-align: center;
  position: 0 auto;
  padding-top:3%;
}


@media (max-width: 1330px) {
  body {
    background-color: red;
    text-align: center;
    position: 0 auto;
    padding-top:3%;
  }
  .one{
    font-size:130px;
    text-align: center;
    position: 0 auto;
    padding-top:3%;
  }
}

@media (max-width: 1000px) {
 body {
  background-color: blue;
   text-align: center;
   position: 0 auto;
   padding-top:3%;
 }
 .two{
   font-size:130px;
   text-align: center;
   position: 0 auto;
   padding-top:3%;
 }
}

@media (max-width: 800px) {
  body {
    background-color: green;
    text-align: center;
    position: 0 auto;
    padding-top:3%;
  }
  .three{
    font-size:130px;
    text-align: center;
    position: 0 auto;
    padding-top:3%;
  }
}

@media (max-width: 500px) {
 body {
  background-color: purple;
   text-align: center;
   position: 0 auto;
   padding-top:3%;
 }
 .four{
   font-size:130px;
   text-align: center;
   position: 0 auto;
   padding-top:3%;
 }

}@media (max-width: 400px) {
  body {
    background-color: black;
    text-align: center;
    position: 0 auto;
    padding-top:3%;
  }
  .one{
    color: white;
  }
  .two{
    color: white;
  }
  .three{
    color: white;
  }
  .four{
    color: white;
  }
  .five{
    font-size:130px;
    color: white;
  }
}
