.moon{
  width:1700px;
  height:1700px;
  margin-top:-10px;
  margin-left:-715px;
  position: fixed;
}

.rectangle{
  width:1500px;
  height:150px;
  background:black;
  margin-top:500px;
  margin-left:-50px;
  position:fixed;
}

.rectangle1{
  width:1500px;
  height:150px;
  background:black;
  margin-top:650px;
  margin-left:-50px;
  position:fixed;
}

p {
  font-family: Gill Sans;
  font-size:40px;
  text-align:center;
  margin-top:30px;
  margin-bottom:40px;
  margin-left:10px;
  position:none;
}

a {
  font-family:Gill Sans;
  text-decoration:none;
  font-size:20px;
  text-align:center;
  color:white;
  left:140px;
  top:615px;
  padding-left:100px;
  position:relative;
}

a:hover {
  color:gray;
  text-align:center;
  text-decoration:none;
}
