.cursor{
  cursor: url(https://chonc268.github.io/projects/remixes/custom_cursor.png), auto;
}

.moon{
  width:1700px;
  height:1700px;
  top:-100px;
  left:-150px;
  position: fixed;
  -webkit-transition: -webkit-transform 25s ease-in-out;
          transition:         transform 25s ease-in-out;
}

.moon:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rectangle{
  width:1500px;
  height:150px;
  background:black;
  margin-top:400px;
  margin-left:-50px;
  position:fixed;
}

.rectangle1{
  width:1500px;
  height:170px;
  background:black;
  margin-top:630px;
  margin-left:-50px;
  position:fixed;
}

p {
  font-family: Gill Sans;
  font-size:35px;
  text-align:center;
  top:670px;
  color:white;
  margin-bottom:40px;
  margin-left:-10px;
  position:relative;
}

a {
  font-family:Gill Sans;
  text-decoration:none;
  font-size:20px;
  text-align:center;
  color:white;
  left:140px;
  top:640px;
  padding-left:100px;
  position:relative;
}

a:hover {
  color:gray;
  text-align:center;
  text-decoration:none;
}
