h1 {
  text-align: center;
  font-family: Gill Sans;
  margin-top:160px;
}

h2 {
  text-align: center;
  font-family: Gill Sans;
  margin-top:-15px;
}


img{
  width:100px;
  height:100px;
  margin-top:30px;
  margin-left:5px;
  position: relative center;
}

p {
  text-align: center;
  font-family: Gill Sans;
}

.home{
  text-align: center;
  color:black;
  text-decoration:underline;
  font-family: Gill Sans;
  margin-top:60px;
  font-size:20px;
}

a{
  text-decoration: none;
  color:black;
}

a:hover{
  text-decoration: none;
  color:gray;
  text-align: center;
  font-family: Gill Sans;

}


