<p>
    font-size: 30px;
  text-align:left;
font-family:Gill Sans;
  position:; top:710px; left:35px;

.original {
  font-size: 30px;
  text-align:left;
  font-family:Gill Sans;
  position:; top:710px; left:35px;

}

.fade{
  font-size: 30px;
  text-align:left;
  font-family:Gill Sans;
  position:; top:710px; left:35px;

}
