/* reset */

* {
  padding: 0px;
  margin: 0px;
}

/* type */

body {
  font-family: times, serif;
  text-align: center;
  font-size: 38px;
  /*font-size: 6vmin;*/
  line-height: 1.3;
  background-color: #1634cf;
}

video {
width: 100%;
}

/* structure */

.content {
  max-width: 600px;
  padding: 50px 30px;
  margin: auto;
  font-weight: 300;
  height: -webkit-calc(50% - 18px);
  height: calc(50% - 18px);
  display: block;
  border: 25px solid white;
}
