body {
  background-color: white;
  margin-left:40px;
}

div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  width: 1320px;
  height: 55px;
  padding-top: -25px;
  top: 10px;
  margin-left: 3px;
}

::-webkit-scrollbar {
    display: none;
}

div.scrollmenu a {
  font-family: Arial,sans-serif;
  display: inline-block;
  font-size: 50px;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  line-height:10px;
}

div.scrollmenu a:hover {
  color: #777;
}


@keyframes sad1 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad2 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad3 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad4 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad5 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad6 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad7 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad8 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad9 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad10 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad11 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad12 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad13 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad14 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad15 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad16 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad17 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad18 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad19 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad20 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad21 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad22 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad23 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad24 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad25 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad26 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad27 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad28 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad29 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad30 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad31 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad32 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad33 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad34 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad35 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad36 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad37 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad38 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad39 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad40 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad41 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad42 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad43 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad44 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad45 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad46 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad47 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad48 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad49 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad50 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad51 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad52 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad53 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad54 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad55 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad56 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad57 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad58 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad59 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad60 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad61 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad62 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad63 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad64 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad65 {
  0% {background-position: 0 0;}
  100% {background-position: -773px 0;}
}

@keyframes sad66 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

@keyframes sad67 {
  0% {background-position: 0 0;}
  100% {background-position: 773px 0;}
}

div.wilson1{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson1:hover {
  animation: sad1 1.4s steps(50);
}

div.wilson2{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson2:hover {
  animation: sad2 1.4s steps(50);
}

div.wilson3{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson3:hover {
  animation: sad3 1.4s steps(50);
}

div.wilson4{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson4:hover {
  animation: sad4 1.4s steps(50);
}

div.wilson5{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson5:hover {
  animation: sad5 1.4s steps(50);
}

div.wilson6{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson6:hover {
  animation: sad6 1.4s steps(50);
}

div.wilson7{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson7:hover {
  animation: sad7 1.4s steps(50);
}

div.wilson8{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson8:hover {
  animation: sad8 1.4s steps(50);
}

div.wilson9{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson9:hover {
  animation: sad9 1.4s steps(50);
}

div.wilson10{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson10:hover {
  animation: sad10 1.4s steps(50);
}

div.wilson11{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson11:hover {
  animation: sad11 1.4s steps(50);
}

div.wilson12{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson12:hover {
  animation: sad12 1.4s steps(50);
}

div.wilson13{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson13:hover {
  animation: sad13 1.4s steps(50);
}

div.wilson14{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson14:hover {
  animation: sad14 1.4s steps(50);
}

div.wilson15{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson15:hover {
  animation: sad15 1.4s steps(50);
}

div.wilson16{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson16:hover {
  animation: sad16 1.4s steps(50);
}

div.wilson17{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson17:hover {
  animation: sad17 1.4s steps(50);
}

div.wilson18{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson18:hover {
  animation: sad18 1.4s steps(50);
}

div.wilson19{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson19:hover {
  animation: sad19 1.4s steps(50);
}

div.wilson21{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson21:hover {
  animation: sad21 1.4s steps(50);
}

div.wilson22{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson22:hover {
  animation: sad22 1.4s steps(50);
}

div.wilson23{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson23:hover {
  animation: sad23 1.4s steps(50);
}

div.wilson24{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson24:hover {
  animation: sad24 1.4s steps(50);
}

div.wilson25{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson25:hover {
  animation: sad25 1.4s steps(50);
}

div.wilson26{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson26:hover {
  animation: sad26 1.4s steps(50);
}

div.wilson27{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson27:hover {
  animation: sad27 1.4s steps(50);
}

div.wilson28{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson28:hover {
  animation: sad28 1.4s steps(50);
}

div.wilson29{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson29:hover {
  animation: sad29 1.4s steps(50);
}

div.wilson30{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson30:hover {
  animation: sad30 1.4s steps(50);
}

div.wilson31{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson31:hover {
  animation: sad31 1.4s steps(50);
}

div.wilson32{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson32:hover {
  animation: sad32 1.4s steps(50);
}

div.wilson33{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson33:hover {
  animation: sad33 1.4s steps(50);
}

div.wilson34{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson34:hover {
  animation: sad34 1.4s steps(50);
}

div.wilson35{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson35:hover {
  animation: sad35 1.4s steps(50);
}

div.wilson36{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson36:hover {
  animation: sad36 1.4s steps(50);
}

div.wilson37{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson37:hover {
  animation: sad37 1.4s steps(50);
}

div.wilson38{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson38:hover {
  animation: sad38 1.4s steps(50);
}

div.wilson39{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson39:hover {
  animation: sad39 1.4s steps(50);
}

div.wilson40{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson40:hover {
  animation: sad40 1.4s steps(50);
}

div.wilson41{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson41:hover {
  animation: sad41 1.4s steps(50);
}

div.wilson42{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson42:hover {
  animation: sad42 1.4s steps(50);
}

div.wilson43{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson43:hover {
  animation: sad43 1.4s steps(50);
}

div.wilson44{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson44:hover {
  animation: sad44 1.4s steps(50);
}

div.wilson45{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson45:hover {
  animation: sad45 1.4s steps(50);
}

div.wilson46{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson46:hover {
  animation: sad46 1.4s steps(50);
}

div.wilson47{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson47:hover {
  animation: sad47 1.4s steps(50);
}

div.wilson48{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson48:hover {
  animation: sad48 1.4s steps(50);
}

div.wilson49{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson49:hover {
  animation: sad49 1.4s steps(50);
}

div.wilson50{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson50:hover {
  animation: sad50 1.4s steps(50);
}

div.wilson51{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson51:hover {
  animation: sad51 1.4s steps(50);
}

div.wilson52{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson52:hover {
  animation: sad52 1.4s steps(50);
}

div.wilson53{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson53:hover {
  animation: sad53 1.4s steps(50);
}

div.wilson54{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson54:hover {
  animation: sad54 1.4s steps(50);
}

div.wilson55{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson55:hover {
  animation: sad55 1.4s steps(50);
}

div.wilson56{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson56:hover {
  animation: sad56 1.4s steps(50);
}

div.wilson57{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson57:hover {
  animation: sad57 1.4s steps(50);
}

div.wilson58{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson58:hover {
  animation: sad58 1.4s steps(50);
}

div.wilson59{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson59:hover {
  animation: sad59 1.4s steps(50);
}

div.wilson60{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson60:hover {
  animation: sad60 1.4s steps(50);
}

div.wilson61{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson61:hover {
  animation: sad61 1.4s steps(50);
}

div.wilson62{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson62:hover {
  animation: sad62 1.4s steps(50);
}

div.wilson63{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson63:hover {
  animation: sad63 1.4s steps(50);
}

div.wilson64{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson64:hover {
  animation: sad64 1.4s steps(50);
}

div.wilson65{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson65:hover {
  animation: sad65 1.4s steps(50);
}

div.wilson66{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson66:hover {
  animation: sad66 1.4s steps(50);
}

div.wilson67{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 100px;
  width: 100px;
  height: 100px;
  margin:10px;
  float:left;
}
div.wilson67:hover {
  animation: sad67 1.4s steps(50);
}
