@keyframes sad1 {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -773px 0;
  }
}

body {
  background-color: white;
}

@keyframes sad2 {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 773px 0;
  }
}

body {
  background-color: white;
}

div.wilson1{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 50px;
  width: 50px;
  height: 50px;
}

div.wilson2{
  background-image: url("https://chonc268.github.io/img/square/Touch%20Bar.png");
  background-position: 0 0;
  background-size: auto 50px;
  width: 50px;
  height: 50px;
}

div.wilson1:hover {
  animation: sad1 1.4s steps(50);
}

div.wilson2:hover {
  animation: sad2 1.4s steps(50);
}
