/* Your styles go here */
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box{
  display: inline-block;
  font-family: arial;
  font-size:25px;
  width:relative;
  height:relative;
  border:1px solid #cfd8dd;
  background-color: #cfd8dd;
  padding: 30px;
  margin: 5px;
  text-align: center;
}
