body {
  background-color: black;
}

h1 {
  position:relative; top:70px; left:30px;
  font-family:Gill Sans;
  font-size:;
  color:white;
  text-align:left;
}

h2 {
  position:relative; top:63px; left:30px;
  font-family:Gill Sans;
  color:white;
  text-align:left;
}



.p_zero {
  position:relative;
  top:160px;;
  color:#5B5D62;
  text-align:center;
}

.p_one{
  position:relative;
  top:50px;
  left:70px;
  color:#A09FA0;
}

.p_two{
  position:relative;
  top:-650px;
  left:-190px;
  color:#A09FA0;
}

.p_three{
  position:relative;
  top:-600px;
  left:600px;
  color:#A09FA0;
}

.p_four{
  position:relative;
  top:-550px;
  left:-500px;
  color:#A09FA0;
}

.p_five{
  position:relative;
  top:-1750px;
  left:470px;
  color:#A09FA0;
}

.p_six {
  position:relative;
  top:-1860px;;
  color:white;
  text-align:center;
}

.p_seven{
  position:relative;
  top:-1950px;
  left:-710px;
  color:white;
}

.p_8{
  position:relative;
  top:-2050px;
  left:-190px;
  color:white;
}

.p_9{
  position:relative;
  top:-2700px;
  left:600px;
  color:white;
}

.p_10{
  position:relative;
  top:-2440px;
  left:470px;
  color:white;
}

.p_11{
  position:relative;
  top:-1750px;
  left:470px;
  color:#A09FA0;
}

.p_12{
  position:relative;
  top:-600px;
  left:600px;
  color:#A09FA0;
}

.p_13{
  position:relative;
  top:-550px;
  left:-500px;
  color:#A09FA0;
}

.p_14{
  position:relative;
  top:-1750px;
  left:470px;
  color:#A09FA0;
}

.star1 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; top:80px; left:50px;;

}

.star2 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; top:200px; left:250px;;

}

.star3 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:80px; left:325px;;

}

.star4 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:300px; left:350px;;

}

.star5 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:150px; left:140px;;

}

.star6 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:360px; left:1000px;;

}

.star7 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:-100px; left:1300px;;

}

.star8 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:-140px; left:925px;;

}

.star9 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:-220px; left:650px;;

}

.star10 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:400px; left:700px;;

}
.star11 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:60px; left:1150px;;

}

.star12 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:120px; left:1400px;;

}

.star13 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:300px; left:1200px;;

}

.star14 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:26px; left:750px;;

}

.star15 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:400px; left:30px;;

}

.star16 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:-220px; left:100px;;

}

.star17 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:230px; left:800px;;

}

.star18 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:0px; left:480px;;

}

.star19 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:-190px; left:1120px;;

}

.star20 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:230px; left:540px;;

}

.star21 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:-10px; left:500px;;

}

.star22 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:390px; left:300px;;
}

