body {
  background-color: black;
}

h1 {
  position:relative; top:140px;
  font-family:Gill Sans;
  font-size:;
  color:white;
  text-align:center;
}

h2 {
  position:relative; top:130px;
  font-family:Gill Sans;
  color:white;
  text-align:center;
}

.p_zero {
  position:relative;
  top:160px;;
  color:#27251F;
  text-align:center;
}

.p_one{
  position:relative;
  top:50px;
  left:70px;
  color:#5B5D62;
}

.p_two{
  position:relative;
  top:-650px;
  left:-190px;
  color:#5B5D62;
}

.p_three{
  position:relative;
  top:-600px;
  left:600px;
  color:#5B5D62;
}

.p_four{
  position:relative;
  top:-550px;
  left:-500px;
  color:#5B5D62;
}

.p_five{
  position:relative;
  top:-1750px;
  left:470px;
  color:#5B5D62;
}

.p_six {
  position:relative;
  top:-1860px;;
  color:#A09FA0;
  text-align:center;
}

.p_seven{
  position:relative;
  top:-1950px;
  left:-710px;
  color:#A09FA0;
}

.p_8{
  position:relative;
  top:-2050px;
  left:-190px;
  color:#A09FA0;
}

.p_9{
  position:relative;
  top:-2700px;
  left:600px;
  color:#A09FA0;
}

.p_10{
  position:relative;
  top:-2440px;
  left:470px;
  color:#A09FA0;
}
.p_11{
  position:relative;
  top:-3400px;
  left:-380px;
  color:white;
}

.p_12{
  position:relative;
  top:-3150px;
  left:-490px;
  color:white;
}

.p_13{
  position:relative;
  top:-3700px;
  left:400px;
  color:white;
}

.p_14{
  position:relative;
  top:-3450px;
  left:-40px;
  color:white;
}


h1 {
  position:relative; top:140px;
  font-family:Gill Sans;
  font-size:;
  color:white;
  text-align:center;
}

h2 {
  position:relative; top:130px;
  font-family:Gill Sans;
  color:white;
  text-align:center;
}



p {
  position:relative; top:160px;;
  color:white;
  text-align:center;
}

.right {
  width:50px;
  height:50px;
  position:fixed;
  margin-top:310px;
  margin-left:1360px;
}

.left {
  width:50px;
  height:50px;
  position:fixed;
  margin-top:310px;
  margin-left:13px;
}

.home {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease-in-out;
  width:50px;
  height:50px;
  position:fixed;
  margin-top:310px;
  margin-left:660px;
}

.home:hover {
  border-radius: 30px;
  width: 150px;
  height: 150px;
  margin-left:625px;
  -webkit-transform: scale(2);
  cursor: pointer;
}

.home_text{
  font-family:Gill Sans;
  font-size:30px;
  color:black;
  margin-top:282px;
  margin-left:667px;
  position:fixed;

}

