body {
  background-color: black;
}

h1 {
  position:relative; top:140px;
  font-family:Gill Sans;
  font-size:;
  color:white;
  text-align:center;
}

h2 {
  position:relative; top:130px;
  font-family:Gill Sans;
  color:white;
  text-align:center;
}



p {
  position:relative; top:160px;;
  color:#AEA9A3;
  text-align:center;
}

.p1{
    position:static; top:60px left:50px;
    color:white;
    text-align:center;
}

.p2 {
  position:relative; top:160px;;
  color:white;
  text-align:center;
}

.p3{
    position:relative; top:160px;;
    color:white;
    text-align:center;
}

.p4{
    position:relative; top:160px;;
    color:white;
    text-align:center;
}

.p5 {
  position:relative; top:160px;;
  color:white;
  text-align:center;
}

.right {
  width:50px;
  height:50px;
  position:fixed;
  margin-top:310px;
  margin-left:1360px;
}

.left {
  width:50px;
  height:50px;
  position:fixed;
  margin-top:310px;
  margin-left:13px;
}

.home {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease-in-out;
  width:50px;
  height:50px;
  position:fixed;
  margin-top:310px;
  margin-left:660px;
}

.home:hover {
  border-radius: 30px;
  width: 150px;
  height: 150px;
  margin-left:625px;
  -webkit-transform: scale(2);
  cursor: pointer;
}

.home_text{
  font-family:Gill Sans;
  font-size:30px;
  color:black;
  margin-top:282px;
  margin-left:667px;
  position:fixed;

}

.star1 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; top:80px; left:50px;;

}

.star2 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; top:200px; left:250px;;

}

.star3 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:80px; left:325px;;

}

.star4 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:300px; left:350px;;

}

.star5 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:150px; left:140px;;

}

.star6 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:360px; left:1000px;;

}

.star7 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:-100px; left:1300px;;

}

.star8 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:-140px; left:925px;;

}

.star9 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:-220px; left:650px;;

}

.star10 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:400px; left:700px;;

}
.star11 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:60px; left:1150px;;

}

.star12 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:120px; left:1400px;;

}

.star13 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:300px; left:1200px;;

}

.star14 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:26px; left:750px;;

}

.star15 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:400px; left:30px;;

}

.star16 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:-220px; left:100px;;

}

.star17 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:230px; left:800px;;

}

.star18 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:0px; left:480px;;

}

.star19 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:-190px; left:1120px;;

}

.star20 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:230px; left:540px;;

}

.star21 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:-10px; left:500px;;

}

.star22 {
  background-color:gray;
  border-radius: 100%;
  width:5px;
  height:5px;
  position:relative; bottom:390px; left:300px;;
}

