body {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: black;
  overflow: hidden;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  width: 1320px;
  height: 55px;
  margin-top:732px;
  margin-left: 35px;
}

::-webkit-scrollbar {
    display: none;
}

div.scrollmenu a {
  font-family: Arial,sans-serif;
  display: inline-block;
  font-size: 50px;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  line-height:10px;
}

div.scrollmenu a:hover {
  color: #777;
}

img {
  position: fixed;
  width: 50%;
  height: 50%;
  z-index:-1;
}

img.square1 {
  top: 0;
  left: 0;
}

img.square2 {
  top: 0;
  right: 0;
}

img.square3 {
  bottom: 0;
  left: 0;
}

img.square4 {
  bottom: 0;
  right: 0;
}
