body {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: black;
  overflow: hidden;
}


.link {
  position: fixed;
  margin-top:695px;
  margin-left:578px;
}

a {
  text-decoration: none;
  font-size:75px;
  font-family: Arial,sans-serif;
  color: black;
  opacity:0.5;
}

a:hover {
  opacity:1;
}


img {
  position: fixed;
  width: 50%;
  height: 50%;
  z-index:-1;
}

img.square1 {
  top: 0;
  left: 0;
}

img.square2 {
  top: 0;
  right: 0;
}

img.square3 {
  bottom: 0;
  left: 0;
}

img.square4 {
  bottom: 0;
  right: 0;
}
