body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 600px;
  float: left;
  width: 760px;
  float: left;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 150px;
  margin-left:285px;
  margin-top:15px;
}

.card1 {
  margin-left:75px;
  left: 20px;
}

.card2 {
  margin-left:75px;
  left: 20px;
}

.card3 {
  margin-left:75px;
  left: 20px;
}

.card4 {
  margin-left:75px;
  left: 20px;
}

.card5 {
  margin-left:75px;
  left: 20px;
}

.card6 {
  margin-left:75px;
  left: 20px;
}

.card7 {
  margin-left:75px;
  left: 20px;
}

.card8 {
  margin-left:75px;
  left: 20px;
}

.card9 {
  margin-left:75px;
  left: 20px;
}

.card10 {
  margin-left:75px;
  left: 20px;
}

.card11 {
  margin-left:75px;
  left: 20px;
}

.card12 {
  margin-left:75px;
  left: 20px;
}

.card13 {
  margin-left:75px;
  left: 20px;
}

.card14 {
  margin-left:75px;
  left: 20px;
}

.card15 {
  margin-left:75px;
  left: 20px;
}

.card16 {
  margin-left:75px;
  left: 20px;
}

.card17 {
  margin-left:75px;
  left: 20px;
}

.card18 {
  margin-left:75px;
  left: 20px;
}

.card19 {
  margin-left:75px;
  left: 20px;
}

.card20 {
  margin-left:75px;
  left: 20px;
}

.card21 {
  margin-left:75px;
  left: 20px;
}

.card22 {
  margin-left:75px;
  left: 20px;
}

.card23 {
  margin-left:75px;
  left: 20px;
}

.card24 {
  margin-left:75px;
  left: 20px;
}

.card25 {
  margin-left:75px;
  left: 20px;
}

.card26 {
  margin-left:75px;
  left: 20px;
}

.card27 {
  margin-left:75px;
  left: 20px;
}

.card28 {
  margin-left:75px;
  left: 20px;
}

.card29 {
  margin-left:75px;
  left: 20px;
}

.card30 {
  margin-left:75px;
  left: 20px;
}

.card31 {
  margin-left:75px;
  left: 20px;
}

.card32 {
  margin-left:75px;
  left: 20px;
}

.card33 {
  margin-left:75px;
  left: 20px;
}

.card34 {
  margin-left:75px;
  left: 20px;
}

.card35 {
  margin-left:75px;
  left: 20px;
}

.card36 {
  margin-left:75px;
  left: 20px;
}

.card37 {
  margin-left:75px;
  left: 20px;
}

.card38 {
  margin-left:75px;
  left: 20px;
}

.card39 {
  margin-left:75px;
  left: 20px;
}

.card40 {
  margin-left:75px;
  left: 20px;
}
