@font-face {
  font-family: "AkzidenzGroteskStd-Md";
  src: url("../≥≥fonts/AkzidenzGroteskStd-Md.otf") format("opentype");

  font-family: "AkzidenzGroteskStd-Regular";
  src: url("../≥≥fonts/AkzidenzGroteskStd-Regular.otf") format("opentype");

  font-family: "AmericanTypewriter";
  src: url("../≥≥fonts/AmericanTypewriter.ttc") format("opentype");
}

body {
  background: #F3F315;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid white;
}

.hello {
  font-size:40px;
  width: 0%;
  padding-top:1%;
}

div{
  width:80%;
  position:relative;
  font-family: AkzidenzGroteskStd-Md;
  font-size: 30px;
  color: #000000;
  letter-spacing: 15px;
  line-height: 57px;
  padding-top: 0.5%;
  padding-left:1.5%;
}

a {
  text-decoration: none;
  color: black;
  transition: all 0.75s ease;
}

.name:hover {
  color: #F3F315;
}

.class:hover {
  color: #dbafa7;
}

.remixes:hover {
  color: #a5a5a5;
}

.vday:hover {
  font-family: AmericanTypewriter;
}

.coding {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

.coding:hover {
  cursor: pointer;
  background: linear-gradient(270deg, #e9beab, #e6e6fa, #d8397e, #57bfbe, #fcedfd, #ffe4c4, #ffe79e);
  background-size: 1000% 1000%;
  padding-left:35px;

  -webkit-animation: slideBackground 2s ease infinite;
  -moz-animation: slideBackground 2s ease infinite;
  animation: slideBackground 2s ease infinite;
}

  @-webkit-keyframes slideBackground {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes slideBackground {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes slideBackground {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }

.layout:hover {
  font-family: "Times New Roman";
  background-color: #faf4f3;
  border: 1px solid black;
  padding-left: 25px;
  padding-bottom: 5px;
}

.obsession:hover {
  font-family: AkzidenzGroteskStd-Regular;
  font-size: 40px;
  background-color: #fffaf0;
  border: 3px solid black;
  padding-left:10px;
  padding-right:10px;
  letter-spacing: 1px;
}

.loveletter {
  font-family: AkzidenzGroteskStd-Md;
  font-size: 30px;
  color: ;
  letter-spacing: 15px;
  line-height: 57px;
  margin-top: -7px;
  margin-left: -15px;
}

.loveletter:hover{
  color: white;
  background: black;
  font-family: AkzidenzGroteskStd-Md;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  width: 10em;
  margin: 0;
  animation: type 5s steps(60, end);
}

.loveletter:hover a{
  color: black;
  text-decoration: none;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: 1;}
}

@media (max-width: 1300px) {
  div {
    font-size: 30px;
    letter-spacing: 13px;
    line-height:54px;
  }

  .loveletter {
    font-size: 30px;
    letter-spacing: 5px;
    margin-top: 2px;
    margin-left: -15px;
    margin-bottom: 2px;
    line-height: 45px;

  }
}

@media (max-width: 1050px) {
  div {
    font-size: 30px;
    letter-spacing: 13px;
    line-height:50px;
  }

  .loveletter {
    font-size: 30px;
    letter-spacing: 5px;
    margin-top: 2px;
    margin-left: -12px;
    margin-bottom: 2px;
    line-height: 45px;

  }
}

@media (max-width: 800px) {
  div {
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 60px;
  }

  .loveletter {
    font-size: 20px;
    letter-spacing: 5px;
    margin-top: 4px;
    margin-left: -7px;
    margin-bottom: 0px;
    line-height: 45px;

  }
}

@media (max-width: 600px) {
  div {
    font-size: 15px;
    letter-spacing: 5px;
    line-height: 53px;
  }

  .loveletter {
    font-size: 15px;
    letter-spacing: 5px;
    margin-top: -2px;
    margin-left: -4px;
    margin-bottom: -2px;
    line-height: 45px;

  }
}
