body {
  font-size: 16px;
  font-family: Arial;
  line-height: 1.5s;
  background-color: black;
  color: white;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20vmin;
  transform: translate(-50%, -50%);
}

div.ball {
  background-color: white;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

img {
  width:90%;
}
