.center {
  float: right;
  padding-top: 100px;
  position: relative;
  left: -34%; /* or right 50% */
  text-align: left;
  margin-top: 70px;
}
.center > .child {
  position: relative;
  left: 50%;
}

body {
  height:100%;
  width:100%;
  font-family: Arial;
}

.container {
  margin: 0px auto 0 auto;;
  padding: 0px;
  border-radius: 10px;
}

.button {
  font-family: Arial;
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  color: black;
  border: solid black 2px;
  float: right;
  position: relative;
  right: 42.5%;
  text-align: left;
  background-color: white;
  padding-left:20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
}

ul li {
  font-family: Arial;
  float: left;
  list-style-type: none;
  margin:8px;
  font-size: 40px;
}

ul a {
  display: block;
  height: 15px;
  width: 15px;
  line-height: 26px;
  text-decoration: none;
  color: #6A37B7;
  text-transform: uppercase;
  padding: 0px 4px;
  background-color: white;
  border: solid #6A37B7 2px;
  padding-top: 60px;
  padding-bottom: 65px;
  padding-left: 55px;
  padding-right: 60px;
}
