html, body {
  overflow: hidden
}

body {
  width:1400px;
  cursor:none;
  height:1000px;
  font-family: Arial;
  padding: 0px;
  margin-top:-265px;
}

h1 {
  font-size:300px;
  text-align: center;
  line-height: .4;
}

h1 span {
  transition: color 10s;
}

h1 span:hover {
  transition: color 0s;
}

h1 span:nth-child(1n):hover {
  color:#ff0000;
}

h1 span:nth-child(2n):hover {
  color:#0000ff;
}

h1 span:nth-child(3n):hover {
  color:#00ff00;
}

h1 span:nth-child(4n):hover {
  color:yellow;
}

h1 span:hover {
  color:#ffff00;
}
