.link {
  position: fixed;
  margin-top:708px;
  margin-left:583px;
  z-index:1;
}

a {
  text-decoration: none;
  font-size:75px;
  font-family: Arial,sans-serif;
  color: black;
  opacity:0.5;
}

a:hover {
  opacity:1;
}

body {
  background-color: white;
  color: white;
  overflow: hidden;
  z-index:-1;
}

header {
  position: fixed;
  top: 30px;
  left: 40px;
  z-index: 1;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

img {
  position: absolute;
  top: 500px;
  left: 400px;
  transform: translate(-50%, -50%) scale(0.5) rotate(10deg);
  animation:fadein 0.5s;
}
