.info {
  display:block;
  width:130px;
  height:100px;
  position:relative;
  margin: 0 auto;
  padding-top:80px;
}

.sketch1 {
  display:block;
  width:130px;
  height:100px;
  position:relative;
  margin: 0 auto;
  padding-top:50px;
}

.sketch2 {
  display:block;
  width:130px;
  height:100px;
  position:relative;
  margin: 0 auto;
  padding-top:50px;
}

.sketch3 {
  display:block;
  width:130px;
  height:100px;
  position:relative;
  margin: 0 auto;
  padding-top:50px;
}
