.info {
  display:block;
  width:130px;
  height:100px;
  position:relative;
  margin: 0 auto;
  padding-top:80px;
}

.sketch1 {
  display:block;
  width:130px;
  height:100px;
  position:relative;
  margin: 0 auto;
  padding-top:50px;
}

.sketch1:hover {
  background-image: url('https://chonc268.github.io/projects/vday/sketches/images/sketch1.png');
  display:block;
  width:200px;
  height:150px;
}

.sketch2 {
  display:block;
  width:130px;
  height:100px;
  position:relative;
  margin: 0 auto;
  padding-top:50px;
}

.sketch2:hover {
  background-image: url('https://chonc268.github.io/projects/vday/sketches/images/sketch2.png');
  display:block;
  width:200px;
  height:150px;
}

.sketch3 {
  display:block;
  width:130px;
  height:100px;
  position:relative;
  margin: 0 auto;
  padding-top:50px;
}

.sketch3:hover {
  background-image: url('https://chonc268.github.io/projects/vday/sketches/images/sketch3.png');
  display:block;
  width:200px;
  height:150px;
