.info{
width:130px;
height:100px;
position:relative;
margin:left:100px;
margin:right:auto;
}

.info:hover {
  background-image: url('https://chonc268.github.io/projects/vday/sketches/images/home.png');
  width:130px;
  height:100px;
}

.sketch1{
width:130px;
height:100px;
position:relative;
margin:left:auto;
margin:right:auto;
}

.sketch1:hover {
  background-image: url('https://chonc268.github.io/projects/vday/sketches/images/sketch1.png');
  width:130px;
  height:100px;
}

.sketch2{
width:130px;
height:100px;
position:relative;
margin:left:auto;
margin:right:auto;
}

.sketch2:hover {
  background-image: url('https://chonc268.github.io/projects/vday/sketches/images/sketch2.png');
  width:130px;
  height:100px;
}

.sketch3{
width:130px;
height:100px;
position:relative;
margin:left:auto;
margin:right:auto;
}

.sketch3:hover {
  background-image: url('https://chonc268.github.io/projects/vday/sketches/images/sketch3.png');
  width:130px;
  height:100px;
}
