body {
  background-color:black;
}

a {
  text-decoration:none;

}

.img1 {
  display:block;
  margin: 0 auto;
  width:780px;
  height:550px;
}

.img2 {
  display:block;
  padding-top:30px;
  margin: 0 auto;
  width:780px;
  height:550px;
}
