body {
  background-color:white;
}

h2 {
  font-family:Gill Sans;
  margin-top:25px;
  margin-left:15px;
}

.container {
  position: relative;
  width: 50%;
}


.image {
  display: block;
  width: 100%;
  height: auto;
  margin:auto 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  margin:auto 0;
  border-style:solid;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: purple;
  font-family:Gill Sans;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.container {
    margin: auto;
    padding-bottom:20px;
    padding-top:20px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  margin:auto 0;
}
